openapi: 3.1.0
info:
  title: Google Apps Script Processes processes:listScriptProcesses API
  description: The Apps Script API manages Google Apps Script projects, deployments, versions, and processes. It supports creating script projects, updating content, managing deployments, monitoring execution processes, and remotely running script functions.
  version: v1
  contact:
    name: Google
    url: https://developers.google.com/apps-script/api/concepts
servers:
- url: https://script.googleapis.com
tags:
- name: processes:listScriptProcesses
paths:
  /v1/processes:listScriptProcesses:
    get:
      operationId: listScriptProcesses
      summary: Google Apps Script List Script Processes
      description: List information about a script's executed processes.
      parameters:
      - name: pageSize
        in: query
        schema:
          type: integer
        example: 10
      - name: pageToken
        in: query
        schema:
          type: string
        example: example_value
      - name: scriptId
        in: query
        required: true
        schema:
          type: string
        example: '500123'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListProcessesResponse'
              examples:
                Listscriptprocesses200Example:
                  summary: Default listScriptProcesses 200 response
                  x-microcks-default: true
                  value:
                    processes:
                    - projectName: example_value
                      functionName: example_value
                      processType: example_value
                      processStatus: example_value
                      startTime: '2026-01-15T10:30:00Z'
                      duration: example_value
                    nextPageToken: example_value
      tags:
      - processes:listScriptProcesses
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Process:
      type: object
      properties:
        projectName:
          type: string
          example: example_value
        functionName:
          type: string
          example: example_value
        processType:
          type: string
          example: example_value
        processStatus:
          type: string
          example: example_value
        startTime:
          type: string
          format: date-time
          example: '2026-01-15T10:30:00Z'
        duration:
          type: string
          example: example_value
    ListProcessesResponse:
      type: object
      properties:
        processes:
          type: array
          items:
            $ref: '#/components/schemas/Process'
          example: []
        nextPageToken:
          type: string
          example: example_value
