openapi: 3.1.0
info:
  title: Google Apps Script API
  description: >-
    The Apps Script API manages Google Apps Script projects, deployments,
    versions, and processes. It supports creating script projects, updating
    content, managing deployments, monitoring execution processes, and remotely
    running script functions.
  version: v1
  contact:
    name: Google
    url: https://developers.google.com/apps-script/api/concepts
servers:
  - url: https://script.googleapis.com
paths:
  /v1/projects:
    post:
      operationId: createProject
      summary: Google Apps Script Create project
      description: Creates a new, empty script project with no script files.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateProjectRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
      tags:
        - Projects
  /v1/projects/{scriptId}:
    get:
      operationId: getProject
      summary: Google Apps Script Get project
      description: Gets a script project's metadata.
      parameters:
        - name: scriptId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
      tags:
        - Projects
  /v1/projects/{scriptId}/content:
    get:
      operationId: getProjectContent
      summary: Google Apps Script Get project content
      description: Gets the content of the script project including code source and metadata.
      parameters:
        - name: scriptId
          in: path
          required: true
          schema:
            type: string
        - name: versionNumber
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Content'
      tags:
        - Projects
    put:
      operationId: updateProjectContent
      summary: Google Apps Script Update project content
      description: Updates the content of the specified script project.
      parameters:
        - name: scriptId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Content'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Content'
      tags:
        - Projects
  /v1/projects/{scriptId}/metrics:
    get:
      operationId: getProjectMetrics
      summary: Google Apps Script Get project metrics
      description: Get metrics data for scripts such as number of executions and active users.
      parameters:
        - name: scriptId
          in: path
          required: true
          schema:
            type: string
        - name: metricsGranularity
          in: query
          schema:
            type: string
            enum: [UNSPECIFIED_GRANULARITY, WEEKLY, DAILY]
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metrics'
      tags:
        - Projects
  /v1/projects/{scriptId}/deployments:
    get:
      operationId: listDeployments
      summary: Google Apps Script List deployments
      description: Lists the deployments of an Apps Script project.
      parameters:
        - name: scriptId
          in: path
          required: true
          schema:
            type: string
        - name: pageSize
          in: query
          schema:
            type: integer
        - name: pageToken
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListDeploymentsResponse'
      tags:
        - Projects
    post:
      operationId: createDeployment
      summary: Google Apps Script Create deployment
      description: Creates a deployment of an Apps Script project.
      parameters:
        - name: scriptId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeploymentConfig'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
      tags:
        - Projects
  /v1/projects/{scriptId}/deployments/{deploymentId}:
    get:
      operationId: getDeployment
      summary: Google Apps Script Get deployment
      description: Gets a deployment of an Apps Script project.
      parameters:
        - name: scriptId
          in: path
          required: true
          schema:
            type: string
        - name: deploymentId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
      tags:
        - Projects
    put:
      operationId: updateDeployment
      summary: Google Apps Script Update deployment
      description: Updates a deployment of an Apps Script project.
      parameters:
        - name: scriptId
          in: path
          required: true
          schema:
            type: string
        - name: deploymentId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateDeploymentRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Deployment'
      tags:
        - Projects
    delete:
      operationId: deleteDeployment
      summary: Google Apps Script Delete deployment
      description: Deletes a deployment of an Apps Script project.
      parameters:
        - name: scriptId
          in: path
          required: true
          schema:
            type: string
        - name: deploymentId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
      tags:
        - Projects
  /v1/projects/{scriptId}/versions:
    get:
      operationId: listVersions
      summary: Google Apps Script List versions
      description: List the versions of a script project.
      parameters:
        - name: scriptId
          in: path
          required: true
          schema:
            type: string
        - name: pageSize
          in: query
          schema:
            type: integer
        - name: pageToken
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListVersionsResponse'
      tags:
        - Projects
    post:
      operationId: createVersion
      summary: Google Apps Script Create version
      description: Creates a new immutable version using the current code.
      parameters:
        - name: scriptId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Version'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Version'
      tags:
        - Projects
  /v1/projects/{scriptId}/versions/{versionNumber}:
    get:
      operationId: getVersion
      summary: Google Apps Script Get version
      description: Gets a version of a script project.
      parameters:
        - name: scriptId
          in: path
          required: true
          schema:
            type: string
        - name: versionNumber
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Version'
      tags:
        - Projects
  /v1/scripts/{scriptId}:run:
    post:
      operationId: runScript
      summary: Google Apps Script Run script
      description: Runs a function in an Apps Script project.
      parameters:
        - name: scriptId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExecutionRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Operation'
      tags:
        - Scripts
  /v1/processes:
    get:
      operationId: listProcesses
      summary: Google Apps Script List processes
      description: List information about processes made by or on behalf of a user.
      parameters:
        - name: pageSize
          in: query
          schema:
            type: integer
        - name: pageToken
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListProcessesResponse'
      tags:
        - Processes
  /v1/processes:listScriptProcesses:
    get:
      operationId: listScriptProcesses
      summary: Google Apps Script List script processes
      description: List information about a script's executed processes.
      parameters:
        - name: pageSize
          in: query
          schema:
            type: integer
        - name: pageToken
          in: query
          schema:
            type: string
        - name: scriptId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListProcessesResponse'
      tags:
        - processes:listScriptProcesses
components:
  schemas:
    Project:
      type: object
      properties:
        scriptId:
          type: string
        title:
          type: string
        parentId:
          type: string
        createTime:
          type: string
          format: date-time
        updateTime:
          type: string
          format: date-time
        creator:
          type: object
          properties:
            email:
              type: string
            name:
              type: string
    CreateProjectRequest:
      type: object
      properties:
        title:
          type: string
        parentId:
          type: string
    Content:
      type: object
      properties:
        scriptId:
          type: string
        files:
          type: array
          items:
            $ref: '#/components/schemas/File'
    File:
      type: object
      properties:
        name:
          type: string
        type:
          type: string
          enum: [ENUM_TYPE_UNSPECIFIED, SERVER_JS, HTML, JSON]
        source:
          type: string
        createTime:
          type: string
          format: date-time
        updateTime:
          type: string
          format: date-time
    Deployment:
      type: object
      properties:
        deploymentId:
          type: string
        deploymentConfig:
          $ref: '#/components/schemas/DeploymentConfig'
        updateTime:
          type: string
          format: date-time
    DeploymentConfig:
      type: object
      properties:
        scriptId:
          type: string
        versionNumber:
          type: integer
        manifestFileName:
          type: string
        description:
          type: string
    UpdateDeploymentRequest:
      type: object
      properties:
        deploymentConfig:
          $ref: '#/components/schemas/DeploymentConfig'
    ListDeploymentsResponse:
      type: object
      properties:
        deployments:
          type: array
          items:
            $ref: '#/components/schemas/Deployment'
        nextPageToken:
          type: string
    Version:
      type: object
      properties:
        versionNumber:
          type: integer
        description:
          type: string
        createTime:
          type: string
          format: date-time
        scriptId:
          type: string
    ListVersionsResponse:
      type: object
      properties:
        versions:
          type: array
          items:
            $ref: '#/components/schemas/Version'
        nextPageToken:
          type: string
    Metrics:
      type: object
      properties:
        activeUsers:
          type: array
          items:
            type: object
        totalExecutions:
          type: array
          items:
            type: object
        failedExecutions:
          type: array
          items:
            type: object
    ExecutionRequest:
      type: object
      properties:
        function:
          type: string
        parameters:
          type: array
          items: {}
        sessionState:
          type: string
        devMode:
          type: boolean
    Operation:
      type: object
      properties:
        done:
          type: boolean
        response:
          type: object
        error:
          type: object
          properties:
            code:
              type: integer
            message:
              type: string
    Process:
      type: object
      properties:
        projectName:
          type: string
        functionName:
          type: string
        processType:
          type: string
        processStatus:
          type: string
        startTime:
          type: string
          format: date-time
        duration:
          type: string
    ListProcessesResponse:
      type: object
      properties:
        processes:
          type: array
          items:
            $ref: '#/components/schemas/Process'
        nextPageToken:
          type: string
tags:
  - name: Processes
  - name: processes:listScriptProcesses
  - name: Projects
  - name: Scripts
